.cardinfo3{
        margin-top: 100px;
}
.cardinfo3_edit{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid #333;
        margin-bottom: 20px;
}
.edit button{
        border: none;
        padding: 5px 10px;
        background-color: transparent;
        transition: margin 0.5s ease;
}
.edit button i {
        margin-left: 5px;
}
.edit button:hover{
        background-color: #eee;
        margin-left: 5px;
}


.cardWork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #eee;
}
.cardWork img{
        width: 100%;
        transition: transform 0.3s ease-in-out;
}
.cardWork img:hover{
        transform: scale(1.1);
}
.info_Card_Work h3{
        font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}
.info_Card_Work p{
        font-size: 15px;
}