.parent_card{
    margin-top: 100px; /*test */
    margin-bottom: 100px; /*test */
    padding: 15px 10px; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.snai3y_content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.snai3y_content i{
    padding: 6px;
}
.snai3y_content hr{
    background-color: #777;
    width: 90%;
    height: 2px;
    margin:auto 0;
}
.parent_card h2{
    font-size: 1.5rem;
}
.snai3y_skills{
    
    background-color: #eee;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
}
.parent_card small{
    color: #777;
}